@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap%27%27');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap%27%27');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;900&display=swap%27%27');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway:wght@500;600&display=swap');

/* #3E3E3D
#3ED1D2
#FFA8B8
#FFF1E8
#FF9A9B
#FFC6A3 */



*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 


h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
}

.img-fluid{
  display: flex;
  justify-content: center;
}

#logo {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  margin: auto;
}

a.nav-link {
  font-size: 25px;
}

.navbar-collapse{
  display: flex;
  justify-content: center;
}

#title, .title {
  font-weight: 900;
  color: #000;
}

.border-plus-dark {
  border: 3px solid rgb(0, 0, 0);
}

.button-text {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.rasage {
  background: url("./img/kit_rasage.jpg") no-repeat center;
  background-size: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.rasage h1 .btn{
  position: absolute; 
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}


.picto {
  height: 65px;
  width: 95px;
}
.custom-two-background {
  background-color: #FFF1E8;
}

.ligne-us {
  width: 50%;
  border-bottom: 3px solid;
  margin: 0 auto;
  padding-top: 20px;
}



.ligne-advantages{
  width: 50%;
  border-bottom: 3px solid;
  margin: 0 auto;
  padding-top: 20px;
}

.padding {
  padding-left: 100px;
}

.partenaire {
  background: transparent linear-gradient(293deg, #49ECED 0%, #35BABA 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  padding-top: 100px;
  text-align: center;
}

.btn-product:focus, .btn-product:active {
  outline: none;
  box-shadow: none;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
  background-image: none;
  background-color: #36BBBB;
}

.ligne-partenaire{
  width: 100px;
  border-bottom: 3px solid;
  margin: 0 auto 50px auto;
  padding-top: 20px;
}

.partenaire__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.partenaire__list ul {
  margin: 10px;
  list-style-type: none;
  padding-inline-start: 0;
}

.partenaire img {
  width: 150px;
  margin-bottom: 90px;
}

.partenaire__list__group {
  height: 100px;
}


/* Page distri */

.homebutton-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 20px;
  height: 80px;
  width: 100%;
}
.homebutton {
  position: relative;
  color: black;
  text-decoration: none; 
}

.homebutton #arrow {
  height: auto;
}

.homebutton #homebutton-title {
  position: absolute;
  top: 50px;
  font-weight: bold; 
  margin-left: 1rem; 
}

.homebutton:hover {
  text-decoration-color: none;
}

.picto-distri {
  display: inline;
}

/* Page Trousse */

#trousse {
  background-color: #3ED1D2;
}

#trousse img{
  width: 100%; 
}


/* Page Catalogue */

.section-1-catalogue {
  background-image: linear-gradient(#35BABA,#49ECED);
  height: 100vh;
}

.section-1-catalogue img {
  width: 50%;
  position:absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-1-catalogue h1 {
  position:absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.section-2-catalogue img {
  height: 100vh;
  width: 100%;
}

.section-2-catalogue h1,p {
  text-align: center;
  margin-top: 5%;
}

.title-catalogue {
  position:absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list-catalogue {
  position:absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list-catalogue li {
  list-style-type: none;
}

.list-1-catalogue {
  text-align: center;
}
.list-2-catalogue {
  text-align: center;
}
.list-3-catalogue {
  text-align: center;
}

.list-1-catalogue .btn {
  background-color: #FF9A9B;
  font-weight: 600;
  padding: 10px 40px;
  border-radius: 30px;
}
.list-2-catalogue .btn {
  background-color: #E0AF91;
  font-weight: 600;
  padding: 10px 40px;
}
.list-3-catalogue .btn {
  background-color: #3ED1D2;
  font-weight: 600;
  padding: 10px 40px;
}


/* Page Produits Conditionnès */

.btn-custom1:hover {
  background-color: #FFC6A3;
}
.btn-custom2:hover {
  background-color: #FFA8B8;
}
.btn-custom3:hover {
  background-color: #3ED1D2
}

.ligne-how{
  width: 60vw;
  border-bottom: 3px solid;
  margin: auto;
  margin-bottom: 17px;
  padding-bottom: 17px;
}
.ligne-min{
  width: 60vw;
  border-bottom: 3px solid;
  margin: auto;
  margin-bottom: 17px;
  padding-bottom: 17px;
}



.btn-custom-1{
  background-color: #FFC6A3;
}
.btn-custom-2{
  background-color: #FFA8B8;
}
.btn-custom-3{
  background-color: #3ED1D2
}

.hygiene-mixte h1 .btn{
  position: absolute; 
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.hygiene-femal {
  background: url("./img/serviettes-hygienique.jpg") no-repeat center;
  background-size: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hygiene-femal h1 .btn{
  position: absolute; 
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.hygiene-male {
  background: url("./img/kit_rasage.jpg") no-repeat center;
  background-size: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hygiene-male h1 .btn{
  position: absolute; 
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

/* Page Valeur  */

.ligne-valeur {
  width: 550px;
  border-bottom: 4px solid;
  margin: 0 auto;
  padding-top: 20px;
}

.charte-container {
  background-color: #FFF1E8;
}

.charte-container p {
  font-weight: 600;
}

.bg {

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.kit-dentaire {
  /* The image used */
  background-image: url("img/page_accueil/kit_dentaire.png");
}

.serviettes-hygieniques {
  background-image: url("img/page_accueil/serviettes_hygienique.png");
}

.kit-rasage {
  background-image: url("img/page_accueil/kit_rasage.png");
}

.bg-produit {
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Page Precarite */

.container-precarite{
  background: url("img/page_precarite/photo-1.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.precarite-lutte {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.precarite-lutte__article {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.precarite-lutte__article h4 {
  height: 100%;
  width: 300px;
  color: red;
  text-align: end;
}

.precarite-lutte__article p {
  height: 100%;
  text-align: start;
  margin-left: 30px;
  width: 800px;
  font-weight: 500;
  margin-top: 0;
}


.text-precarite {
  background: #FFA8B850;
  position: absolute;
  top: 272px;
  left: 138px;
  width: 960px;
  padding: 20px;
  margin: auto;
  color: #fdf5f0;
}

.text-precarite span {
  color: red;
  font-weight: 800;
}

.text-precarite .auteur {
  color: #fdf5f0;
  font-weight: 400;
  font-size: 1.2rem;
}

.precarite-distri ul{
  list-style-type: none;
}

.lign-precarite {
  width: 35vw;
  border-bottom: 3px solid;
  margin: auto;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.picto-precarite {
  display: inline-flex;
  flex-wrap: wrap;
}

.picto-precarite-dur {
  width: 300px;
  margin: 30px;
}

.picto-precarite-prati {
  width: 300px;
  margin: 30px;
}

.picto-precarite-secu {
  width: 300px;
  margin: 30px;
}

.our-mission {
  background-color: #fdf5f0;
}

.min-our-mission {
  position: relative;
}

.our-mission-picto {
  position: absolute;
  height:  120%;
  margin-top: -15vh;
  display:  grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

#lingette-box {
  height: 160px;
  width: 150px;
  grid-row: 2/3;
  grid-column: 3/4;
  margin-top: 170px;
}
#hygien-serviette {
  height: 165.86px;
  width: 150px;
  grid-row: 2/3;
  grid-column: 9/10;
  margin-top: 70px;
  margin-left: 200px;
}
#coton-flower {
  height: 160px;
  width: 150px;
  margin-top: 200px;
  grid-row: 3/4;
  grid-column: 10/11;
}
#recycle-3 {
  height: 150px;
  width: 150px;
  grid-row: 4/5;
  grid-column: 3/4;
}

.number-mission {
  font-size:3.5rem;
}

@media (max-width: 1000px){
  .our-mission-picto {
    display: none;
  }
}

.legal {
  text-align: center;
  padding-bottom: 100px;
}

.legal h1 {
  text-align: center;
}

@media (max-width: 1122px) {
  .text-precarite {
    position: relative;
    top: 0;
    left: 0;
    width: 80%;
    margin: 0;
  }

  .container-precarite {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
  
  }
}



/* Page Contact */

.team p{
  font-size: 25px;
}

.pt-10 {
  padding-top: 100px;
}

.pb-10 {
  padding-bottom: 100px;
}
.bandeau{
  display:flex;
}

.container-text {
  margin: 0 50px;
}


.color1{
  display: block;
  background-color: #FF9A9B;
  width:384px;
  height:60px;
  border: 2px solid #FF9A9B;
}

.color2{
  background-color: #FFA8B8;
  color:#FFA8B8;
   width:384px;
  height:60px;
  border: 2px solid;
}

.color3{
  background-color: #FFC6A3;
  color:#FFC6A3;
   width:384px;
  height:60px;
  border: 2px solid;
}

.color4{
  background-color: #3ED1D2;
  color:#3ED1D2;
   width:384px;
  height:60px;
  border: 2px solid;
}

.color5{
  background-color: #FFF1E8;
  color:#FFF1E8;
   width:384px;
  height:60px;
  border: 2px solid 
}


/* footer */

.footer {
  background-color: #2e2e2d;
}
.box{
  box-sizing: border-box;
  border: 3px solid transparent;
  background-clip:padding-box;
}

.ligne-1 {
  width: 90%;
  border-bottom: 2px solid;
  margin-bottom: 17px;
  padding-bottom: 7px;
}

.ligne-2 {
  width: 60%;
  border-bottom: 2px solid;
  margin-bottom: 17px;
  padding-bottom: 7px;
}

.ligne-3 {
  width: 180px;
  border-bottom: 2px solid;
  margin-bottom: 17px;
  padding-bottom: 7px;
}

.mt-10 {
  padding-top: 110px;
  padding-bottom: 100px
}
.pt-10 {
  padding-top: 100px;
}

.line-advantages {
  width: 60%;
  border-bottom: 3px solid;
  margin: 0 auto;
  padding-top: 10px;
}

.ordi{
  position: relative;
  z-index: 0;
  left: 30px;
  bottom: -30px;
  margin-left: -48px;
  padding-bottom: 30px;
}

.telephone {
  position: relative;
  z-index: 0;
  left: 45px;
  bottom: -30px;
  margin-left: -84px;
  padding-bottom: 30px;
}

.note {
  position: relative;
  z-index: 0;
  left: 45px;
  bottom: -30px;
  margin-left: -75px;
  padding-bottom: 30px;
}

.calque-trousse {
  position: relative;
  z-index: 0;
  left: 45px;
  bottom: -30px;
  margin-left: -30px;
  padding-bottom: 30px;
}

.img-trousse {
  position: relative;
  z-index: 0;
  padding-right: 100px;
}

.calque-camion {
  position: relative;
  z-index: 0;
  left: 45px;
  bottom: -30px;
  margin-left: -60px;
  padding-bottom: 30px;
}

#fleche-one{
  position: relative;
  bottom: 540px;
  left: -90px;
}
#fleche-two{
  position: relative;
  bottom: 540px;
  left: 180px;
}
#fleche-three{
  position: relative;
  bottom: 140px;
  left: -90px;
}

.footer-logo {
  width: 25%;
}
.footer-distri {
  width: 25%;
}
.footer-trousse {
  width: 25%;
}
.footer-ad {
  width: 25%;
}

.footer h3 {
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 600;
}

.footer  li {
  font-size: 12px;
}

.footer a{
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-family: poppins, sans-serif;
}

.footer p {
  font-size: 12px;
}

.bg {
  /* The image used */
  background-image: url("img/page_accueil/kit_rasage.png");

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overflow{
  margin-bottom: -400px;
}

.advantages {
  /*position: relative;
  /*height: 120vh;*/
  /*background:  red;
  margin:  10vh 0;*/
  margin: 0;
}

.miniplace {
  position: relative;
}

.miniatures {
  position: absolute;
  height:  120%;
  margin-top: -15vh;
  display:  grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

#flacon {
  height: 160px;
  width: 104px;
  grid-row: 2/3;
  grid-column: 5/6;
  margin-top: 70px;
}

#recycle {
  height: 129px;
  width: 134px;
  grid-row: 7/8;
  grid-column: 3/4;
  margin-left: 20px;
}
#plane {
  margin-top: 200px;
  grid-row: 10/11;
  grid-column: 10/11;
}

#trousse2 {
  height: 143px;
  width: 173px;
  grid-row: 7/8;
  grid-column: 10/11;
}

@media (max-width: 1000px) {
  .miniatures {
    display: none;
  }
}

.relative{
  position: relative;
}

#sous-titre-trait{
  border: black 2px solid;
  opacity: 1;
  max-width: 400px;
}

#sous-titre-trait-charte{
  border: black 1px solid;
  opacity: 1;
  max-width: 400px;
}

.homebutton-container a:hover{
  color: black;
}

.text-small {
  font-size: 16px
}

.underline-precarite{
  opacity: 1;
  border: 2px solid black;
  max-width: 500px;
}

.column-14 p {
  font-size: 14px;
}

.normal-list li {
  list-style: none;
  font-family: Raleway, sans-serif;
}

.lingettes{
  position: relative;
  top: -400px;
  left: 200px;
}

.coton {
  position: relative;
  top: 120%;
  left: 70%
}

.serviettes{
  position: relative;
  top: -600px;
  left: 70%
}

.recycle{
  position: relative;
  top: -450px;
  left: 190px;
}


.show{
  display: block
}

#ambre{
  display: none;
}

#rubis{
  display: none;
}

#agate{
  display: none;
}

#nacre{
  display: none;
}

#opale{
  display: none;
}

.pointer:hover{
  cursor: pointer;
}

.link a{
  text-decoration: none;
  color: black;
}
.anchor {
  scroll-margin-top: 50vh
}

.anchor li{
  list-style: none;
}

.gamme-product {
  background-color: #FFF1E8;
}
@media (max-width: 1400px) {
  #fleche-one{
    display: none;
  }
  #fleche-two{
    display: none;
  }
  #fleche-three{
    display: none;
  }
}

@media (max-width: 1300px) {
 #recycle {
   display: none;
 }

  #flacon {
    top: -800px;
    left: -200px;
  }
}

@media (max-width: 1200px){
  .lingettes{
    left: 0;
  }
  .coton {
    left: 80%;
  }
  .serviettes{
    left: 80%;
  }
  .recycle{
    left: 0;
  }
}

@media (max-width: 800px) {

  #flacon {
    top: -850px;
    left: -200px;
  }
  .lingettes{
    left: -100px;
  }
  .coton {
    left: 90%;
  }
  .serviettes{
    left: 90%;
  }
  .recycle{
    left: -100px;
  }
}

@media (max-width: 660px) {
  .rasage h1{
    font-size: 30px;

  }

  .ligne-us, .ligne-advantages {
    width: 100%;
  }
  .lingettes{
    display: none;
  }
  .coton {
    display: none;
  }
  .serviettes{
    display: none;
  }
  .recycle{
    display: none;
  }
  .our-mission{
    margin-bottom: 0;
  }
}


@media (max-width: 390px) {
  .rasage h1{
    font-size: 1.2rem;
  }
}

.timeline-container {
  width: 18%;
  padding: 50px 0;
  margin: 50px 0;
  margin-right: 100px;
  position: relative;
}

.timeline-container:before { /*This is the line down the middle*/
  content: '';
  position: absolute;
  top: 0;
  left: 6%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: black;
  z-index: 1
}

.timeline-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
}

.custom-two-background__first {
  --bs-gutter-x: 0;
}

.catalogue-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}

.catalogue-section__img-left {
  width: 200px;
  position: absolute;
  left: 10px;
  top: 40px;
}

.catalogue-section__img-right {
  width: 200px;
  position: absolute;
  right: 10px;
  top: 40px;
}

.catalogue-section__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 140px
}

.catalogue-section__header p {
  margin-top: 50px;
  width: 60%;
}

.catalogue-section__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.catalogue-section__list ul {
  text-align: center;
  list-style-type: none;
  margin: 0 50px 50px 50px;
}

.catalogue-section__list__hygiene h3 {
  background-color: #FE9A9B ;
  margin-bottom: 50px;
  padding: 15px 50px;
  border: 2px solid black;
  border-radius: 60px;
}

.catalogue-section__list__sante h3 {
  background-color: #E0AF91 ;
  margin-bottom: 50px;
  padding: 15px 50px;
  border: 2px solid black;
  border-radius: 60px;
}
.catalogue-section__list__conciergerie h3 {
  background-color: #3ED1D2 ;
  margin-bottom: 50px;
  padding: 15px 50px;
  border: 2px solid black;
  border-radius: 60px;
}

@media (max-width: 820px) {
  .catalogue-section__img-left {
    opacity: 0.2;
  }
  
  .catalogue-section__img-right {
    opacity: 0.2;
  }
}

@media (max-width: 1200px) {
  .timeline-container{
    width: 50%;
    margin: 50px auto;
  }
  .timeline-container:before{
    left: 4%;
  }
}

.marker {
  width: 45px;
  height: 45px;
  border-radius:100% 0% 100% 100% / 100% 100% 100% 100% ;
  transform:rotate(45deg);
  background: #3ED1D2;
  margin-top: 10px;
  z-index: 9999

}
.timeline-content {
  width: 100%;
  padding:15px;
}
.timeline-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.6rem;
  font-weight: 800
}

.timeline-content p {
  font-size: 1rem;
  line-height: 1.5em;
}
@media screen and (max-width: 768px) {
  .timeline-container:before {
     left: 20px;
     width: 2px;
  }
  .timeline-block {
     width: 100%;
     margin-bottom: 30px;
  }
  .timeline-block-right {
     float: none;
  }
  
}



